.basket__form-refusal {
  background-color: var(--color-grey);
  margin: 12px 0 0;
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
