.accordion__tooltip {
  position: absolute;
  top: 24px;
  width: 280px;
  height: auto;
  background-color: var(--color-white);
  box-shadow: 0px 2px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 11px 16px 13px;
  box-sizing: border-box;
  border-radius: 6px;
  color: var(--color-black);
  opacity: 0;
  z-index: 10;
}
