:root {
  --color-green: #0CB477;
  --color-violet: #6725A8;
  --color-pink: #CB11AB;
  --color-orange: #F55123;
  --color-white: #FFFFFF;
  --color-grey: #F6F6FA;
  --color-smoke: #F0ECF4;
  --color-gray: #9797AF;
  --color-black: #000000;
  --color-transparent: 255,255,255;
}
