@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./colors.css);

@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);

@import url(./blocks/header/__logo-container/header__logo-container.css);
@import url(./blocks/header/__button-menu/header__button-menu.css);
@import url(./blocks/header/__burger/header__burger.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/header/__search-form/header__search-form.css);
@import url(./blocks/header/__input/header__input.css);
@import url(./blocks/header/__button-search/header__button-search.css);

@import url(./blocks/header/__navigation/header__navigation.css);
@import url(./blocks/header/__button-profile/header__button-profile.css);
@import url(./blocks/header/__profile-logo/header__profile-logo.css);
@import url(./blocks/header/__button-basket/header__button-basket.css);
@import url(./blocks/header/__basket-logo/header__basket-logo.css);
@import url(./blocks/header/__counter/header__counter.css);

@import url(./blocks/main/main.css);
@import url(./blocks/basket/basket.css);

@import url(./blocks/basket/__form-content/basket__form-content.css);
@import url(./blocks/basket/__header/basket__header.css);
@import url(./blocks/basket/__items-list/basket__items-list.css);

@import url(./blocks/basket/__form-sidebar/basket__form-sidebar.css);
@import url(./blocks/basket/__form-description/basket__form-description.css);
@import url(./blocks/basket/__form-line/basket__form-line.css);
@import url(./blocks/basket/__form-total/basket__form-total.css);
@import url(./blocks/basket/__form-preferences/basket__form-preferences.css);
@import url(./blocks/basket/__form-preference/basket__form-preference.css);
@import url(./blocks/basket/__form-edit/basket__form-edit.css);
@import url(./blocks/basket/__form-adress/basket__form-adress.css);
@import url(./blocks/basket/__form-date/basket__form-date.css);
@import url(./blocks/basket/__form-preference-header/basket__form-preference-header.css);
@import url(./blocks/basket/__form-preference-name/basket__form-preference-name.css);
@import url(./blocks/basket/__form-refusal/basket__form-refusal.css);
@import url(./blocks/basket/__form-refusal-img/basket__form-refusal-img.css);
@import url(./blocks/basket/__form-refusal-text/basket__form-refusal-text.css);
@import url(./blocks/basket/__form-refusal-hint/basket__form-refusal-hint.css);
@import url(./blocks/basket/__form-card/basket__form-card.css);
@import url(./blocks/basket/__form-card-logo/basket__form-card-logo.css);
@import url(./blocks/basket/__form-card-number/basket__form-card-number.css);
@import url(./blocks/basket/__form-withdrawal/basket__form-withdrawal.css);
@import url(./blocks/basket/__form-withdrawal-container/basket__form-withdrawal-container.css);
@import url(./blocks/basket/__form-withdrawal-checkbox/basket__form-withdrawal-checkbox.css);
@import url(./blocks/basket/__form-withdrawal-text/basket__form-withdrawal-text.css);
@import url(./blocks/basket/__form-withdrawal-hint/basket__form-withdrawal-hint.css);
@import url(./blocks/basket/__form-submit/basket__form-submit.css);
@import url(./blocks/basket/__form-rules/basket__form-rules.css);
@import url(./blocks/basket/__form-rules-img/basket__form-rules-img.css);
@import url(./blocks/basket/__form-rules-approval/basket__form-rules-approval.css);

@import url(./blocks/accordion/accordion.css);
@import url(./blocks/accordion/__header/accordion__header.css);
@import url(./blocks/accordion/__header-text/accordion__header-text.css);
@import url(./blocks/accordion/__checkbox/accordion__checkbox.css);
@import url(./blocks/accordion/__icon/accordion__icon.css);
@import url(./blocks/accordion/__icon/_active/accordion__icon_active.css);
@import url(./blocks/accordion/__body/accordion__body.css);
@import url(./blocks/accordion/__body/_inactive/accordion__body_inactive.css);
@import url(./blocks/accordion/__body-unavailable/accordion__body-unavailable.css);
@import url(./blocks/accordion/__item/accordion__item.css);
@import url(./blocks/accordion/__item-unavailable/accordion__item-unavailable.css);
@import url(./blocks/accordion/__item-info/accordion__item-info.css);

@import url(./blocks/accordion/__item-description/accordion__item-description.css);
@import url(./blocks/accordion/__item-name/accordion__item-name.css);
@import url(./blocks/accordion/__item-store/accordion__item-store.css);
@import url(./blocks/accordion/__item-shop/accordion__item-shop.css);
@import url(./blocks/accordion/__item-hint/accordion__item-hint.css);

@import url(./blocks/accordion/__item-interaction/accordion__item-interaction.css);
@import url(./blocks/accordion/__item-counter/accordion__item-counter.css);
@import url(./blocks/accordion/__item-decrease/accordion__item-decrease.css);
@import url(./blocks/accordion/__item-value/accordion__item-value.css);
@import url(./blocks/accordion/__item-increase/accordion__item-increase.css);
@import url(./blocks/accordion/__item-stock/accordion__item-stock.css);
@import url(./blocks/accordion/__item-buttons/accordion__item-buttons.css);
@import url(./blocks/accordion/__item-like/accordion__item-like.css);
@import url(./blocks/accordion/__item-delete/accordion__item-delete.css);
@import url(./blocks/accordion/__item-total/accordion__item-total.css);
@import url(./blocks/accordion/__item-cost/accordion__item-cost.css);
@import url(./blocks/accordion/__item-discount/accordion__item-discount.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/custom-checkbox/custom-checkbox.css);
