.accordion__discount-tooltip {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 239px;
  padding: 11px 16px 13px;
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  box-shadow: 0px 2px 10px 0px #00000026;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 6px;
  top: 55px;
  left: -130px;
}
