.basket {
  max-width: 1400px;
  margin: 20px auto 0;
  padding: 24px 24px 50px;
  display: flex;
  gap: 32px;
  box-sizing: border-box;
  justify-content: space-between;
}

@media screen and (max-width: 1020px) {
  .basket {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 680px) {
  .basket {
    padding: 16px 0 24px;
    gap: 16px;
  }
}
