.payment {
  width: 100%;
  border-radius: 16px;
  margin: 16px 0;
  padding: 16px 24px 24px;
  box-sizing: border-box;
  background-color: var(--color-white);
}

@media screen and (max-width: 680px) {
  .payment {
    padding: 16px 16px 24px;
  }
}
