.accordion__item-total {
  max-width: 110px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
  position: relative;
}

.accordion__item-total > s {
  color: var(--color-gray);
}

@media screen and (max-width: 680px) {
  .accordion__item-total {
    grid-area: cost;
    max-width: 192px;
    flex-direction: row;
    align-items: center;
  }
}
