.accordion__checkbox-container {
  margin-top: 37px;
}

@media screen and (max-width: 680px) {
  .accordion__checkbox-container {
    position: absolute;
    top: 4px;
    left: 4px;
    margin: 0;
  }
}
