.basket__form-refusal-hint {
  color: var(--color-green);
}

.basket__form-refusal-hint:hover {
  cursor: pointer
}

[data-title] {
  position: relative;
}

[data-title]::after {
  content: attr(data-title);
  position: absolute;
  width: 288px;
  left: 0;
  top: 29px;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  background: var(--color-white);
  color: var(--color-black);
  padding: 10px 16px 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  box-shadow: 0px 2px 10px 0px #00000026;
  border-radius: 8px;
  z-index: 10;
}

[data-title]:hover::after {
  opacity: 1;
}
