.accordion__item-info {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media screen and (max-width: 680px) {
  .accordion__item-info {
    max-width: 192px;
  }
}
