.accordion__item-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 275px;
  width: 100vw;
}

@media screen and (max-width: 680px) {
  .accordion__item-description {
    width: fit-content;
    grid-area: text;
  }
}
