.header__button-menu {
  width: 48px;
  height: 48px;
  background-color: var(--color-violet);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(var(--color-transparent),0.45);
  border-radius: 8px;
  transition: all 0.1s linear;
}

.header__button-menu:hover {
  border: 1px solid rgba(var(--color-transparent),1);
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .header__button-menu {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 0;

  }
}
