.popup-delivery {
  margin: auto;
  padding: 0;
  z-index: 11;
  max-width: 500px;
  width: 100vw;
  border: none;
  padding: 16px 24px 24px;
  border-radius: 16px;
  box-sizing: border-box;
}

.popup-delivery::backdrop {
  background-color: #05000A4D;
  z-index: 5;
}

@media screen and (max-width: 680px) {
  .popup-delivery {
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }
}
