.user-data__input {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: solid 1px #00000033;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 3px;
  box-sizing: border-box;
  outline: none;
}

.user-data__input:focus+.user-data__placeholder,
.user-data__input:not(:placeholder-shown)+.user-data__placeholder {
  top: 0;
  font-size: 13px;
  line-height: 16px;
}
