.popup-payment__submit {
  width: 164px;
  height: 44px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-pink);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 5px;
  box-sizing: border-box;
}

.popup-payment__submit:hover {
  cursor: pointer;
}
