.accordion__item-increase {
  width: 24px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  border: none;
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
  text-align: center;
}

.accordion__item-increase:hover {
  cursor: pointer;
}
